html, body {
  padding: 0px;
  margin: 0px; }

header {
  width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
  background: #60dae9;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #60dae9 0%, #3c5ab0 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #60dae9 0%, #3c5ab0 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #60dae9 0%, #3c5ab0 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60dae9', endColorstr='#3c5ab0',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
  header nav.header-nav {
    height: 75px;
    width: 100%; }
    header nav.header-nav ul {
      list-style-type: none;
      margin-top: 25px; }
      header nav.header-nav ul li {
        font-size: 15px;
        font-weight: bold;
        display: inline;
        padding: 10px 15px; }
  header .content {
    color: white; }
    header .content .headline-wrapper {
      padding-top: 50px;
      font-size: 80px;
      font-weight: bolder; }
    header .content .date-wrapper {
      font-size: 60px;
      font-weight: lighter; }
    header .content .claim-wrapper {
      margin-top: 25px;
      font-size: 30px; }
    header .content .button-wrapper {
      padding-top: 25px;
      padding-right: 15px; }
      header .content .button-wrapper a:hover {
        text-decoration: none; }
      header .content .button-wrapper a .button {
        font-weight: bold;
        font-size: 25px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 25px;
        padding-right: 25px;
        margin-right: 20px;
        border: 2px solid white;
        color: white;
        text-decoration: none;
        cursor: pointer; }

nav.floating-nav {
  width: 100%;
  position: sticky;
  z-index: 1000;
  top: 0px;
  left: 0px;
  height: 50px;
  background: #60dae9;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #60dae9 0%, #3c5ab0 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #60dae9 0%, #3c5ab0 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #60dae9 0%, #3c5ab0 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60dae9', endColorstr='#3c5ab0',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
  nav.floating-nav ul {
    list-style-type: none;
    padding-top: 15px; }
    nav.floating-nav ul li {
      font-size: 15px;
      font-weight: bold;
      display: inline;
      padding: 5px 10px;
      cursor: pointer; }

section {
  padding-bottom: 150px; }
  section .section-headline-wrapper {
    font-size: 45px;
    font-weight: bold;
    color: black;
    text-align: center;
    width: 100%;
    padding-bottom: 50px; }

section.description-wrapper {
  color: black; }
  section.description-wrapper div.image-wrapper {
    min-height: 500px; }
  section.description-wrapper div.text-wrapper {
    min-height: 500px;
    background-color: #fdcc46; }
    section.description-wrapper div.text-wrapper .headline-wrapper {
      width: 500px;
      padding-left: 25px;
      padding-top: 100px;
      font-size: 50px;
      font-weight: bold; }
    section.description-wrapper div.text-wrapper .body-wrapper {
      font-size: 20px;
      width: 500px;
      padding-left: 25px;
      padding-top: 25px; }
    section.description-wrapper div.text-wrapper .detail-wrapper {
      font-size: 12px;
      width: 500px;
      padding-left: 25px;
      padding-top: 25px; }
    section.description-wrapper div.text-wrapper .button-wrapper {
      padding-left: 25px;
      padding-top: 25px;
      padding-bottom: 50px; }
      section.description-wrapper div.text-wrapper .button-wrapper .button {
        font-weight: bold;
        font-size: 25px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 25px;
        padding-right: 25px;
        border: 2px solid black;
        color: black;
        text-decoration: none;
        cursor: pointer; }
        section.description-wrapper div.text-wrapper .button-wrapper .button a:hover {
          text-decoration: none; }

section.speaker {
  position: relative; }
  section.speaker .speaker-wrapper {
    cursor: pointer;
    width: 100%;
    position: relative;
    padding-bottom: 15px;
    padding-top: 15px; }
    section.speaker .speaker-wrapper .portrait {
      width: 100%;
      filter: grayscale(100%); }
      section.speaker .speaker-wrapper .portrait:hover {
        filter: grayscale(0%); }
    section.speaker .speaker-wrapper .description {
      color: white;
      position: absolute;
      bottom: 30px;
      left: 20px;
      font-size: 15px; }
      section.speaker .speaker-wrapper .description .name {
        font-weight: bold; }
  section.speaker .speaker-detail {
    position: absolute;
    width: 800px;
    left: 15%;
    height: 270px;
    bottom: 165px;
    background: #93eae8;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #93eae8 0%, #73cb74 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #93eae8 0%, #73cb74 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #93eae8 0%, #73cb74 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93eae8', endColorstr='#73cb74',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }
    section.speaker .speaker-detail .portrait {
      float: left;
      width: 250px;
      padding-left: 20px;
      padding-top: 20px; }
    section.speaker .speaker-detail .content {
      padding-left: 290px;
      padding-right: 20px;
      padding-top: 20px; }
      section.speaker .speaker-detail .content .name {
        font-size: 25px;
        font-weight: bold; }
      section.speaker .speaker-detail .content .description {
        padding-top: 20px; }

section.prev_speaker .speaker-wrapper {
  cursor: pointer;
  position: relative; }
  section.prev_speaker .speaker-wrapper .portrait {
    width: 100%;
    filter: grayscale(100%); }
    section.prev_speaker .speaker-wrapper .portrait:hover {
      filter: grayscale(0%); }
  section.prev_speaker .speaker-wrapper .description {
    color: white;
    position: absolute;
    bottom: 30px;
    left: 20px;
    font-size: 15px; }
    section.prev_speaker .speaker-wrapper .description .name {
      font-weight: bold; }

section.partner img {
  filter: grayscale(100%); }
