html, body {
  padding: 0px;
  margin: 0px;
  background-color: #ECF0F2;
  text-align: center;
  color: #043341;
  font-family: 'TWS Savory Thin';
  font-weight: 300; }

h2, h3, h4, h5 {
  font-family: 'TWS Savory Regular';
  font-weight: 400; }

.splash {
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0; }
  .splash .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center; }
  .splash .sky {
    background-color: #2D6783;
    -webkit-transform: translateZ(0);
    background-size: cover;
    background-position: center; }
  .splash .bottom {
    -webkit-transform: translateZ(0);
    background-image: url("../images/splashscreen_bottom.svg");
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: bottom;
    bottom: -2px;
    z-index: 5; }
    .splash .bottom img {
      position: absolute;
      bottom: 20px;
      left: 45%;
      width: 10%; }
  .splash .element {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    transform: translateZ(0px);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0; }
    .splash .element img.header-icon {
      position: absolute;
      bottom: 65%;
      width: 15%;
      right: 42.5%;
      left: 42.5%;
      text-align: center; }
      @media (max-width: 875px) {
        .splash .element img.header-icon {
          bottom: 65%;
          width: 30%;
          right: 35%;
          left: 35%; } }
    .splash .element img.headline {
      bottom: 50%;
      width: 60%;
      position: absolute;
      right: 20%;
      left: 20%;
      text-align: center; }
      @media (max-width: 875px) {
        .splash .element img.headline {
          bottom: 50%;
          width: 80%;
          right: 10%;
          left: 10%; } }
    .splash .element div.description {
      font-family: 'TWS Savory Thin';
      font-size: 23px;
      color: #F0F3F5;
      bottom: 30%;
      width: 60%;
      position: absolute;
      right: 20%;
      left: 20%;
      text-align: center; }
      @media (max-width: 875px) {
        .splash .element div.description {
          font-size: 18px;
          bottom: 20%;
          width: 80%;
          right: 10%;
          left: 10%; } }

section.application {
  margin-bottom: 150px; }

@-moz-document url-prefix() {
  section.application {
    margin-top: 100vh; } }
  section.application .btn {
    margin-top: 20px;
    color: #F0F3F5;
    background-color: #FC4F42;
    width: 100%;
    font-size: 15px;
    letter-spacing: 2.4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0px; }

section.info {
  color: #2D6783; }
  section.info .headline {
    text-transform: uppercase;
    margin-top: 50px;
    font-size: 30px;
    letter-spacing: 0;
    font-family: 'TWS Savory Regular'; }
  section.info .description {
    margin-top: 50px;
    font-size: 26px;
    letter-spacing: 0; }
    @media (max-width: 875px) {
      section.info .description {
        font-size: 18px; } }

section.speaker {
  margin-top: 150px;
  color: #2D6783; }
  section.speaker .headline {
    text-transform: uppercase;
    margin-top: 50px;
    font-size: 30px;
    letter-spacing: 0;
    font-family: 'TWS Savory Regular'; }
  section.speaker .row {
    margin-top: 50px; }
    section.speaker .row .speaker-box img {
      width: 60%; }
    section.speaker .row .speaker-box .name {
      font-size: 27px;
      font-weight: 600;
      color: #2D6783; }
    section.speaker .row .speaker-box .description {
      font-size: 20px;
      color: #2D6783; }
      section.speaker .row .speaker-box .description a {
        text-decoration: none;
        color: #2D6783; }

section.timeline {
  margin-top: 150px;
  color: #2D6783; }
  section.timeline .headline {
    text-transform: uppercase;
    margin-top: 50px;
    font-size: 30px;
    letter-spacing: 0;
    font-family: 'TWS Savory Regular';
    font-weight: 400; }
  section.timeline .row {
    margin-top: 100px; }
    section.timeline .row img {
      width: 80%; }

section.startupnite {
  margin-top: 150px;
  color: #2D6783; }
  section.startupnite img {
    width: 300px; }
  section.startupnite .description {
    margin-top: 50px;
    font-size: 26px;
    letter-spacing: 0; }
    @media (max-width: 875px) {
      section.startupnite .description {
        font-size: 18px; } }
  section.startupnite .btn {
    margin-top: 50px;
    color: #F0F3F5;
    background-color: #FC4F42;
    width: 100%;
    font-size: 15px;
    letter-spacing: 2.4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0px; }

section.partner {
  margin-top: 150px;
  color: #2D6783; }
  section.partner .headline {
    text-transform: uppercase;
    margin-top: 50px;
    font-size: 30px;
    letter-spacing: 0;
    font-family: 'TWS Savory Regular';
    font-weight: 400; }
  section.partner .row {
    margin-top: 50px; }

.pre-footer {
  width: 100%;
  margin-top: 150px;
  margin-bottom: -10px; }

.footer {
  -webkit-transform: translateZ(0);
  background-size: cover;
  background-position: center;
  background-color: #2D6783;
  min-height: 150px;
  height: auto; }
  .footer .social-wrapper {
    text-align: center;
    position: absolute;
    bottom: 40px;
    left: 50%;
    color: #F0F3F5;
    font-size: 40px;
    width: 250px;
    margin-left: -125px;
    transition: translate(-50%, -50%); }
    .footer .social-wrapper i {
      margin-right: 15px; }
    .footer .social-wrapper a {
      text-decoration: none;
      color: #F0F3F5; }
  .footer .contact {
    position: absolute;
    bottom: 10px;
    width: 150px;
    text-align: center;
    left: 50%;
    margin-left: -85px; }
    .footer .contact a {
      color: #F0F3F5;
      text-decoration: none; }
